$container: 940px;

$font-size-40: 2.5rem;   // 40px
$font-size-32: 2rem;     // 32px
$font-size-24: 1.5rem;   // 24px
$font-size-20: 1.25rem;  // 20px
$font-size-16: 1rem;     // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem;  // 12px
$font-weight-bold: 700;

// 主色
$blue: #4a91e2;
//次要色系
$dark-blue: #235196;
$cerulean: #3570bd;
$sky-blue: #75b3f0;
$light-blue: #a4d3fc;
$orange: #fb5303;
$deep-red: #9e1e25;
//灰階
$black: #000000;
$dark-gray: #393939;
$iron-gray: #525252;
$gray: #6f6f6f;
$light-sliver: #c6c6c6;
$light-gray: #e0e0e0;
$white-smoke: #ececec;
$white: #ffffff;
//提示色
$green: #7fae1b;
$red: #d2232c;

$black-85: rgba($black, 0.85);
$black-20: rgba($black, 0.2);

// 僅出現在元件中的顏色
$blue-hover: #75b3f0;
$blue-active: #3570bd;

$topbar-hasPicture-height: 340px;
$topbar-navigation-height: 64px;